#product-container{
    border: 1px solid red;
    padding: 3vh;
    display: grid;
    grid-template-rows: auto auto auto auto ;
    grid-template-columns: 25% 20% auto;
    grid-template-areas: 
    "imagen imagen titulo"
    "imagen imagen precio"
    "imagen imagen descripcion"
    "imagen imagen boton-comprar";
}
#btn-buy{
    grid-area: boton-comprar;
}
#img-product{
    grid-area: imagen;
    max-width: 35vw;
    border: 2px solid black;
    border-radius: 10px;

}
#product-title{
    grid-area: titulo;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    font-size: 3vw;
}
#product-price{
    grid-area: precio;
    color: red;
    font-size: 2vw;
}
.product-description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}
#product-description {
    background-color: aquamarine;
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
}
a {
    color:darkgreen;
}
a:hover{
    background-color: aquamarine;
}

#reviews-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "reviews-title"
    "score-review"
    "comment-review"
    "submit-review";
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

#reviews-title{
    grid-area: reviews-title;
    font-size: 2vw;
}
#comment-review{
    grid-area: comment-review;
}
#submit-review{
    grid-area: submit-review;
}
#score-group {
    grid-area: score-review;
    display: flex;
    gap: 10px;
}

